.idea/sonarlint
.idea/discord.xml
htmlcov
.coverage
.coverage.*
.pytest_cache
.retype/

!**/[Pp]ackages/build/
!.axoCover/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!/files/example-manifest.yaml
!?*.[Cc]ache/
$RECYCLE.BIN/
$tf/
*$py.class
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/[Pp]ackages/*
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.DotSettings.user
*.GhostDoc.xml
*.VC.VC.opendb
*.VC.db
*.VisualState.xml
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bak
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.cover
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.e2e
*.egg
*.egg-info/
*.elc
*.gpState
*.ilk
*.iobj
*.ipdb
*.iws
*.jfm
*.jmconfig
*.launch
*.ldf
*.lnk
*.log
*.manifest
*.mdf
*.meta
*.mm.*
*.mo
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pem
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.pot
*.psess
*.pub
*.publishproj
*.publishsettings
*.pubxml
*.py[cod]
*.pyc
*.pydevproject
*.rdb
*.rdl.data
*.rel
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sage.py
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.snupkg
*.so
*.spec
*.stTheme.cache
*.stackdump
*.sublime-workspace
*.suo
*.svclog
*.swp
*.tlb
*.tlh
*.tli
*.tmPreferences.cache
*.tmlanguage.cache
*.tmp
*.tmp_proj
*.tss
*.user
*.userosscache
*.userprefs
*.vbw
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xsd.cs
*_archive
*_flymake.*
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*~
*~.nib
.*crunch*.local.xml
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.JustCode
.LSOverride
.Python
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.\#*
._*
.apdisk
.apt_generated/
.autotools
.axoCover/*
.buildpath
.builds
.cache
.cache-main
.cask/
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.cproject
.cr/personal
.dir-locals.el
.directory
.dmypy.json
.eggs/
.env
.externalToolBuilders/
.factorypath
.fake/
.fseventsd
.fuse_hidden*
.hypothesis/
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint
.idea_modules/
.installed.cfg
.ionide/
.ipynb_checkpoints
.loadpath
.localhistory/
.metadata
.mfractor/
.mypy_cache/
.netrwhist
.nfs*
.nox/
.ntvs_analysis.dat
.org-id-locations
.paket/paket.exe
.projectile
.pyre/
.pytest_cache/
.python-version
.recommenders
.recommenders/
.ropeproject
.sass-cache/
.scala_dependencies
.scrapy
.settings/
.springBeans
.spyderproject
.spyproject
.target
.tern-project
.texlipse
.tox/
.venv
.vs/
.vscode/*
.webassets-cache
.worksheet
/.emacs.desktop
/.emacs.desktop.lock
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/files/*
/network-security.data
/prof/
/server/
/site
ASALocalRun/
AppPackages/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
BundleArtifacts/
ClientBin/
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
ENV/
FakesAssemblies/
Generated\ Files/
Generated_Code/
GitHub.sublime-settings
Icon
MANIFEST
MigrationBackup/
Network Trash Folder
OpenCover/
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Package.StoreAssociation.xml
PublishScripts/
ServiceFabricBackup/
Session.vim
Sessionx.vim
StyleCopReport.xml
Temporary Items
TestResult.xml
Thumbs.db
Thumbs.db:encryptable
UpgradeLog*.XML
UpgradeLog*.htm
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]esktop.ini
[Ee]xpress/
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ll]og/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Ss]cripts
[Tt]est[Rr]esult*/
\#*\#
_Chutzpah*
_NCrunch_*
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
__pycache__/
_pkginfo.txt
artifacts/
atlassian-ide-plugin.xml
auto-save-list
bh_unicode_properties.cache
bin/
bld/
build.sh/
celerybeat-schedule
cmake-build-*/
com_crashlytics_export_strings.xml
coverage.txt
coverage.xml
crashlytics-build.properties
crashlytics.properties
csx/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dlldata.c
dmypy.json
docs/_build/
downloads/
ecf/
eggs/
ehthumbs.db
ehthumbs_vista.db
env.bak/
env/
fabric.properties
flycheck_*.el
healthchecksdb
htmlcov/
instance/
ipch/
ipython_config.py
lib/
lib64/
local.properties
local_settings.py
mono_crash.*
nCrunchTemp_*
node_modules/
nosetests.xml
nunit-*.xml
orleans.codegen.cs
oscrypto-ca-bundle.crt
out/
paket-files/
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
pip-wheel-metadata/
profile_default/
project.fragment.lock.json
project.lock.json
publish/
pyvenv.cfg
rcf/
sdist/
sftp-config.json
share/python-wheels/
tags
target/
tramp
var/
venv.bak/
venv/
wheels/
x64/
x86/
~$*
